driftfile /var/lib/ntp/drift
restrict default nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict ::1

restrict {{ ntp_restrict_net }} mask {{ ntp_restrict_mask }} nomodify notrap

server 127.127.1.0 iburst # local clock
fudge 127.127.1.0 stratum 10

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys

disable monitor
